footer{
    text-align: center;
}
footer p{
    font-size: 1.7rem;
}
.ul_footer{
    list-style: none;
    padding-left: 35%;
    width: 30%;
}
.ul_footer li{
    display: inline-block;
    padding: 0 5% 0 5%;
}
.last_p{
    font-size: 1.4rem;
    padding-top: 4%;
}

@media screen and (min-width: 1000px){
    footer{
         height: 15vh;
         display: flex;
         justify-content: space-between;
    }
    .footer_1{
        width: 50%;
        text-align: center;
    }
    .ul_footer{
        display: inline-block;
        padding: initial;
        width: 20%;
    }
    .footer_1 p{
        font-size: 0.9rem;
        display: inline-block;
    }

    .last_p{
         font-size: 0.9rem;
         padding-top: initial;
         width: 50%;
    }
    
}